<component name="ArtifactManager">
  <artifact type="war" name="springdatajpaweb:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springdatajpaweb.war">
      <element id="artifact" artifact-name="springdatajpaweb:war exploded" />
    </root>
  </artifact>
</component>